:root {
  --design-col1: #2d3142;
  --design-col2: #eaebeb;
  --design-col3: #ffffff;
  --design-col4: #ef8354;
  --design-col5: #a9b3c6;
  --design-col6: #fad6c7;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.headerFlex {
  display: flex;
  justify-content: space-between;
}

#addButton {
  align-self: center;
}

body {
  margin: 1rem;
  max-width: 75%;
  margin: 0 auto;
  color: var(--design-col1);
}

.lecture {
  background-color: var(--design-col2);
  padding: 0.75rem;
  border: 1px solid var(--design-col5);
  border-radius: 1rem;
  display: flex; 
  flex-direction: column;
}

.lectures-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
}

.editableLecture {
  background-color: var(--design-col6);
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 0.5rem;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  box-sizing: border-box;
  line-height: 1.6rem;
}

.smallInput {
  width: 3rem;
  border-radius: 5px;
}

.longInput {
  width: 85%;
}

button {
  margin-top: 0.5rem;
  border: none;
  background-color: var(--design-col5);
  text-decoration: none;
  transition: transform 0.2s ease, background-color 0.3s ease;
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.btn-align {
  text-align: right;
  padding-right: 2rem;
}

.save {
  background-color: var(--design-col4);
}

button:hover {
  background-color: var(--design-col4);
  transform: scale(1.05);
}

.link-container {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: auto;
}

.custom-upload-button {
  display: block;
  padding: 8px 16px;
  color: var(--design-col1);
  cursor: pointer;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.editableLinkCont {
  justify-content: space-between;
}

.remove-btn {
  margin-left: 0.5rem;
  line-height: 0.85rem;
}

@media screen and (max-width: 900px) {
  .lectures-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.example-section {
  padding-top: 1rem;
}